.wrapper {
  position: fixed;
  top: 60px;
  right: 24px;
  z-index: 999999;

  display: grid;
  grid-template-columns: 3fr auto;
}

.replace-to-input {
  grid-row-start: 2;
}

.replace-all-button {
  grid-row: span 2;
}
